<script id="add-post" type="text/x-handlebars-template">
    <form>
        <input id="addPostTitle" type="text" required>
        <input id="addPostBody" type="text" required>
        <input id="addFormSubmit" type="submit" value="Submit">
    </form>
</script>
