<script id="post" type="text/x-handlebars-template">
    <div class="post-body">
        <div><a href="#/posts/{{id}}">{{title}}</a></div>
        <div>{{author}}</div>
        <div>{{body}}</div>
    </div>
</script>
