body {
    margin: 0;
}

.post-body {
    padding: 10px;
    margin: 10px;
    background-color: #9DA7C5;
    border-bottom: solid 1px #000000;
}

.comment-body {
    padding: 10px;
    margin: 10px;
    background-color: #c5ab57;
    border-bottom: solid 1px #000000;
}
